<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title%></title>
    <!--INCLUDE THE HEADER-->
    <%- include('partials/head.ejs') %>
</head>

<body>
    <div id="liveAlertPlaceHolder"></div>

    <div class="adminPanel">
        <div class="container mt-5">
            <h1 class="text-center"><%- title%></h1>

            <form id="addBlueprintForm" action="/insert-data-blueprints" method="POST"
                onsubmit="return validateForm(event)" autocomplete="off" enctype="multipart/form-data">
                <!--BLUEPRINTS FORM-->
                <%- include('partials/blueprints_form.ejs') %>
                    <br>
                    <button type="submit" class="btn btn-primary">Continue</button>
            </form>
        </div>
    </div>

    <!--FOOTER-->
    <%- include('partials/footer.ejs') %>
</body>

<script>
    /**
     * Function to validate the from to avoid empty elements
     * */
    function validateForm(event) {
        //Identify the place holder for the alerts
        const alertPlaceHolder = document.getElementById('liveAlertPlaceHolder');

        //Configure the method to configure the alert message
        const appendAlert = (message, type) => {
            const wrapper = document.createElement('div')
            wrapper.innerHTML = [
                `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                `   <div>${message}</div>`,
                '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                '</div>'
            ].join('')

            alertPlaceHolder.append(wrapper);
        }

        //Identify all the elements
        const title = document.getElementById('title').value;
        const description = document.getElementById('description').value;
        const imageFile = document.getElementById('blueprintImage');
        const modelFile = document.getElementById('blueprintFile');

        //Check if the info is empty
        if (title === '' || description === '' || imageFile.files.length === 0 || modelFile.files.length === 0) {
            //Call the method to display the message alert
            appendAlert('You have to insert all the necessary information', 'danger');

            //Move the window position to the top
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });

            //Stop propagation
            event.preventDefault();
        }
    }
</script>

</html>