<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title%></title>
    <!--INCLUDE THE HEADER-->
    <%- include('partials/head.ejs') %>
</head>

<body>
    <div id="liveAlertPlaceHolder"></div>

    <div class="adminPanel">
        <div class="container mt-5">
            <h1 class="text-center"><%- title%></h1>

            <form id="addPowerAutomateForm" action="/library/api/insert-data-powerAutomate" method="POST"
                onsubmit="return validateForm(event)" autocomplete="off">
                <!--POWER AUTOMATE FORM-->
                <%- include('partials/powerAutomate_form.ejs') %>
                    <br>
                    <button type="submit" class="btn btn-primary">Continue</button>
            </form>
        </div>
    </div>

    <!--FOOTER-->
    <%- include('partials/footer.ejs') %>
</body>

<script>
    /**
     * Function to validate the from to avoid empty elements
     * */
    function validateForm(event) {
        //Identify the place holder for the alerts
        const alertPlaceHolder = document.getElementById('liveAlertPlaceHolder');

        //Configure the method to configure the alert message
        const appendAlert = (message, type) => {
            const wrapper = document.createElement('div')
            wrapper.innerHTML = [
                `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                `   <div>${message}</div>`,
                '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                '</div>'
            ].join('')

            alertPlaceHolder.append(wrapper);
        }

        //Identify all the necesary elements
        var flowName = document.getElementById('flowName').value;
        var flowID = document.getElementById('flowID').value;
        var owner = document.getElementById('owner').value;
        var state = document.getElementById('state');
        var url = document.getElementById('url').value;

        //Check if the information is in the form
        if (flowName == '' || owner == '' || state == '') {
            //Call the method to display the messahe alert
            appendAlert('You have to insert the neccesary information to add the Power Automate source', 'danger');

            //Move the window position view to the top
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });

            event.preventDefault();
        }
    }
</script>

</html>