<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title%></title>
    <!--INCLUDE THE HEADER-->
    <%- include('partials/head.ejs') %>
        <script src="/scripts/editBlueprint.js"></script>

</head>

<body>
    <div id="liveAlertPlaceHolder"></div>

    <div class="adminPanel">
        <!--INCLUDE THE TOAST-->
        <%- include('partials/toast.ejs') %>

            <div class="container mt-5">
                <h1 class="text-center"><%- title%></h1>

                <img id="imageBlueprint" class="centered-image"><br>

                <form id="editFormBlueprint" action="/editBlueprint" method="POST" onsubmit="return validateForm(event)"
                    autocomplete="off">

                    <input type="text" id="idBlueprint" name="idBlueprint" hidden>
                    <input type="text" id="blueprintFilePath" name="blueprintFilePath" hidden>
                    <input type="text" id="blueprintImagePath" name="blueprintImagePath" hidden>

                    <!--BLUEPRINT FORM-->
                    <%- include('partials/blueprints_form.ejs') %>

                        <br>
                        <button type="submit" class="btn btn-primary">Continue</button>
                </form>
            </div>

            <br>
            <div class="container mt-5">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <div id="imageDiv">
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <h3>Image</h3>
                                <button id="replaceImage" class="btn btn-primary btn-sm" onclick="replaceFileModal(1)">
                                    <i class="bi bi-arrow-repeat"></i>
                                </button>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">File Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="imageList"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div id="modelDiv">
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <h3>Model file</h3>
                                <button id="replaceFile" class="btn btn-primary btn-sm" onclick="replaceFileModal(0)">
                                    <i class="bi bi-arrow-repeat"></i>
                                </button>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">File Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="modelList"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--FOOTER-->
            <%- include('partials/footer.ejs') %>

                <!--INCLUDE THE MODALS-->
                <%- include('partials/modal.ejs') %>
    </div>
</body>

<script>
    //Hide the image input
    document.getElementById('blueprintImage').setAttribute('hidden', 'true');

    //Hide the STL file
    document.getElementById('blueprintFile').setAttribute('hidden', 'true');

    /**
     * Function to validate the form to avoid empty elements
     * */
    function validateForm(event) {
        //Identify the place holder for the alerts
        const alertPlaceHolder = document.getElementById('liveAlertPlaceHolder');

        //Configure the method to configure the alert message
        const appendAlert = (message, type) => {
            const wrapper = document.createElement('div')
            wrapper.innerHTML = [
                `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                `   <div>${message}</div>`,
                '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                '</div>'
            ].join('');

            alertPlaceHolder.append(wrapper);
        }

        //Identify the element
        var title = document.getElementById('title').value;
        var description = document.getElementById('description').value;

        //Check if the description is empty
        if (title === '' || description === '') {
            //Call the method to display the message alert
            appendAlert('You have to insert the description', 'danger');

            //Move the window position view to the top
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });

            //Stop the propagation
            event.preventDefault();
        }
    }
</script>

</html>