<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Report</title>
    <!--INCLUIMOS LA CABECERA-->
    <%- include('../../partials/head.ejs') %>
        <script src="/script/dieDimensional/Curitiba/verInforme.js"></script>
        <script src="/script/dieDimensional/main.js"></script>
</head>

<body>
    <!--INCLUIMOS LA BARRA DE NAVEGACIÓN-->
    <%- include('../../partials/nav.ejs') %>

        <!--INCLUIMOS LOS MODALES-->
        <%- include('../../partials/modal.ejs') %>

            <br>
            <!--INCLUIMOS LOS CAMPOS DE LA INFORMACIÓN BÁSICA-->
            <%- include('../../partials/informacion_basica_informe_premecanizado.ejs') %>

            <div class="container">
                <hr>

                <!--INCLUIMOS EL DT DEL LISTADO DE NO CONFORMIDADES - PREMECANIZADO-->
                <%- include('../../partials/dt_premeca_listado_no_conformidades.ejs') %>
            </div>
</body>

</html>